.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

#btn {
  width: 250px;
  height: 10vh;
  background-color: #393e46;
  color: #4ecca3;
}

#btn:hover {
  color: #393e46;
  background-color: #4ecca3;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ecca3;
}
h2 {
  margin: 15px;
  font-family: "Lobster", "Courier New", Courier, monospace;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ecca3;
}

button {
  size: 30%;
  cursor: pointer;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
